
.vs/HorariosMundiais/v15/.suo
.vs/HorariosMundiais/v15/Server/sqlite3/db.lock
.vs/HorariosMundiais/v15/Server/sqlite3/storage.ide
.vs/HorariosMundiais/v15/Server/sqlite3/storage.ide-shm
.vs/HorariosMundiais/v15/Server/sqlite3/storage.ide-wal
Reloginhos/**
